.avatar{
    width: 250px;
    height: 250px;
}
.portfolioPage{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
    padding-top: 6%;
}

.portfolioPage h2{
    padding-top: 10px;
    color: #2C3E50;
    font-size: 40px;
    font-weight: bolder;
}

.portfolioPage p{
    color: #2C3E50;
    font-size: 15px;
}
.col-md-4{
    padding: 0 !important;
}
.layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1abc9ce6;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.layer:hover{
    opacity: 0.8;
}
.inner{
    position: relative;
}